<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wisata">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PMUTS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wisata">
        <activity android:name=".About"></activity>
        <activity android:name=".kotu" />
        <activity android:name=".ancl" />
        <activity android:name=".tmii" />
        <activity android:name=".Wisata" />
        <activity android:name=".ragunan" />
        <activity android:name=".bn" />
        <activity android:name=".MenuUtama" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>